@model MovieModel

<diV class="container">
    <div class="row">
        @foreach(var movie in Model.Moviess)
        {

        <div class="col-lg-3 col-md-6 col-sm-6 col-3 text-center">

            <ul class="list-group-item border border-black" style="height:95%;">
                <li class="list-unstyled">
                    <a>

                        <img class="mx-auto d-block" src="~/img/@movie.ImageName"
                            alt="all-seeing-eye-pendant-necklace-gold-third-eye-necklace-birthday-gift-gift-for"
                            width="80%">
                    </a>

                </li>




            </ul>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 col-9 text-center">

            <ul class="list-group-item border border-black" style="height:95%;">
                <li class="list-unstyled pt-3" style="height:60px">

                    <b>@movie.MovieName</b>
                </li>
                <li class="list-unstyled p-4">



                    @Html.Raw(@movie.MovieDescription)
                </li>



            </ul>
        </div>
        }
    </diV>
</div>

<diV class="container">
    <div class="row">
        @if(ViewBag.Cnt!=0)
        {
        <h2>Recommended Movies</h2>
        }

        @foreach(var movie in ViewBag.Category)
        {

        <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center">

            <ul class="list-group-item border border-black" style="height:95%;">
                <li class="list-unstyled">
                    <a href="/Home/Detail/@movie.MovieId">

                        <img class="mx-auto d-block" src="~/img/@movie.ImageName"
                            alt="all-seeing-eye-pendant-necklace-gold-third-eye-necklace-birthday-gift-gift-for"
                            width="80%">
                    </a>

                </li>
                <li class="list-unstyled" style="height:5%;">


                    <b style="padding-top:5px;">@movie.MovieName</b>

                </li>



            </ul>
        </div>
        }
    </diV>
</div>